.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.layout-top {
  flex: 1; /* 20% */
  background-color: #f8f9fa;
}

.layout-bottom {
  flex: 8; /* 80% */
  background-color: #e9ecef;
}
